<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Agregar nuevo producto</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Nombre:</label>
          <input [(ngModel)]="producto.nombre" name="nombre"  type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Precio:</label>
          <input [(ngModel)]="producto.precio" name="precio" step="any" type="number" class="form-control">
        </div>
          <button (click)="Modificar(producto)" class="btn btn-danger">Modificar</button>
        </form>
      </div>
    </div>
  </div>